# 실기 모의고사 1회
- https://www.datamanim.com/dataset/practice/q1.html

## 작업 1유형
> Attention
- 데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)
- 데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부
- dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

### Question1

마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0~9 : 0 , 10~19 : 10)

In [2]:
result = (df['age'] // 10 * 10).value_counts().index[0]
print(result)

30

>Anwser

In [3]:
result = (df.age//10 *10).value_counts().index[0]
print(result)

30

### Question2

마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?

In [4]:
result = (df.age//10 *10).value_counts().values[0]
print(result)

5056

>Anwser

In [5]:
result = (df.age//10 *10).value_counts().values[0]
print(result)

5056

### Question3

나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?

In [6]:
result = df.loc[(df['age'] >= 25) & (df['age'] < 29)]['housing'].value_counts().values[0]
print(result)

504

>Anwser

In [7]:
result = df[(df.age >=25) & (df.age<29) & (df.housing =='yes')].shape[0]
print(result)

504

### Question4

numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?

In [8]:
result = df.select_dtypes(exclude='number').nunique().sort_values(ascending=False).index[0]
print(result)

job

>Anwser

In [9]:
lst= [] 

for col in df.select_dtypes(exclude='int'):
    target = df[col]
    lst.append([col,target.nunique()])

result = pd.DataFrame(lst).sort_values(1,ascending=False).values[0][0]
print(result)

job

### Question5

balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?

In [10]:
q5 = df.loc[df['balance'] >= df['balance'].mean()].sort_values(by='ID', ascending=False).iloc[:100]
result = q5['balance'].mean()
print(result)

3473.73

>Anwser

In [11]:
result = df[df.balance >= df.balance.mean()].sort_values('ID',ascending=False).head(100).balance.mean()
print(result)

3473.73

### Question6

가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)

In [12]:
result = df[['month', 'day']].value_counts().index[0]
print(result)

('may', 15)

>Anwser

In [13]:
result = df[['day','month']].value_counts().index[0]
print(result)

(15, 'may')

### Question7

데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라

In [14]:
from scipy.stats import shapiro

q7 = df.loc[df['job'] == 'unknown']
result = shapiro(q7['age'])[1]
print(result)

0.1961131989955902

>Anwser

In [15]:
result = shapiro(df[df.job =='unknown'].age)[1]
print(result)

0.1961131989955902

### Question8

age와 balance의 상관계수를 구하여라

In [16]:
result = df[['age','balance']].corr().iloc[0, 1]
print(result)

0.10198734763981462

>Anwser

In [17]:
result = df[['age','balance']].corr().iloc[0,1]
print(result)

0.10198734763981462

### Question9

y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라

In [18]:
from scipy.stats import chi2_contingency

chi2, p, dof, expected = chi2_contingency(pd.crosstab(df.education, df.y))
print(p)

7.901201277473551e-29

>Anwser

In [19]:
v = pd.crosstab(df.y,df.education)
chi2 , p ,dof, expected = chi2_contingency(v)

display(v)
print(p)

education  primary  secondary  tertiary  unknown
y
no            1424       4555      2559      365
yes            456       1813      1516      182

7.901201277473551e-29

### Question10

각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?

In [20]:
q10 = df.loc[(df['marital'] == 'married') | (df['marital'] == 'divorced')].groupby(['job', 'marital']).size().reset_index()
q10.loc[23] = ['student', 'divorced', 0]

q10_list = []

for c in q10['job'].unique():
    divorced = q10[(q10['job'] == c) & (q10['marital'] == 'divorced')][0].values[0]
    married = q10[(q10['job'] == c) & (q10['marital'] == 'married')][0].values[0]
    percent = divorced / married
    q10_list.append([c, percent])

result = pd.DataFrame(q10_list).sort_values(by=1, ascending=False).reset_index(drop=True)[1][0]
print(result)

0.2831050228310502

>Anwser

In [21]:
t = df.groupby(['job','marital']).size().reset_index()
pivotdf = t.pivot_table(index='job',columns='marital')[0]
pivotdf = pivotdf.fillna(0)
pivotdf['ratio'] = pivotdf['divorced'] / pivotdf['married']

result = pivotdf.sort_values('ratio').ratio.values[-1]
print(result)

0.2831050228310502

## 작업 2유형
> Attention
- 데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)
- 데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부
- train : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv
- test : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv
- submission : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv

In [22]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

In [23]:
display(train.head())
display(test.head())
display(submission.head())

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome
0,53608,32,management,single,tertiary,no,12569,no,no,cellular,1,jul,2,295,2,success
1,51055,25,services,single,secondary,no,801,no,no,cellular,5,jun,2,-1,0,unknown
2,52573,46,blue-collar,married,secondary,no,1728,yes,no,unknown,26,may,2,-1,0,unknown
3,50458,39,management,divorced,secondary,no,51,no,no,unknown,17,jun,2,-1,0,unknown
4,52272,31,services,single,tertiary,no,1626,no,no,unknown,31,jul,1,-1,0,unknown

      ID  predict
0  53608      0.0
1  51055      0.0
2  52573      0.0
3  50458      0.0
4  52272      0.0

>간단한 모델링 작업  
- 모델링 및 submission파일 생성까지

In [24]:
train.info(), test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12870 entries, 0 to 12869
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         12870 non-null  int64
 1   age        12870 non-null  int64
 2   job        12870 non-null  object
 3   marital    12870 non-null  object
 4   education  12870 non-null  object
 5   default    12870 non-null  object
 6   balance    12870 non-null  int64
 7   housing    12870 non-null  object
 8   loan       12870 non-null  object
 9   contact    12870 non-null  object
 10  day        12870 non-null  int64
 11  month      12870 non-null  object
 12  campaign   12870 non-null  int64
 13  pdays      12870 non-null  int64
 14  previous   12870 non-null  int64
 15  poutcome   12870 non-null  object
 16  y          12870 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4291 entries, 0 to 4290
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         4291 non-null   int64
 1   age        4291 non-null   int64
 2   job        4291 non-null   object
 3   marital    4291 non-null   object
 4   education  4291 non-null   object
 5   default    4291 non-null   object
 6   balance    4291 non-null   int64
 7   housing    4291 non-null   object
 8   loan       4291 non-null   object
 9   contact    4291 non-null   object
 10  day        4291 non-null   int64
 11  month      4291 non-null   object
 12  campaign   4291 non-null   int64
 13  pdays      4291 non-null   int64
 14  previous   4291 non-null   int64
 15  poutcome   4291 non-null   object
dtypes: int64(7), object(9)
memory usage: 536.5+ KB

(None, None)

In [25]:
print('train isnull :', train.isnull().sum())
print('='*30)
print('test isnull :', test.isnull().sum())

train isnull : ID           0
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64
==============================
test isnull : ID           0
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
campaign     0
pdays        0
previous     0
poutcome     0
dtype: int64

In [26]:
y = train.pop('y')
train = train.drop('ID', axis=1)
test = test.drop('ID', axis=1)

print(train.shape, test.shape)

(12870, 15) (4291, 15)

In [27]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

print(train.shape, test.shape)

(12870, 50) (4291, 50)

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score

X_train, X_test, y_train, y_test = train_test_split(train, y, test_size=0.2, stratify=y, random_state=2022)

rf = RandomForestClassifier(random_state=2022)
gb = GradientBoostingClassifier(random_state=2022)
lgbm = LGBMClassifier(random_state=2022)

models = [rf, gb, lgbm]

for model in models:
    model.fit(X_train, y_train)
    pred = model.predict(X_test)
    pred_proba = model.predict_proba(X_test)[:,1]

    print(str(model).split('(')[0])
    print(roc_auc_score(y_test, pred_proba))

RandomForestClassifier
0.7821876993598534
GradientBoostingClassifier
0.7845600152371999
LGBMClassifier
0.7952688919681123

In [29]:
lgbm = LGBMClassifier(random_state=2022)
lgbm.fit(train, y)
submit = lgbm.predict(test)

In [30]:
submission['predict'] = submit
submission
# submission.to_csv('123456.csv', index=False)

         ID predict
0     53608     yes
1     51055     yes
2     52573      no
3     50458      no
4     52272      no
...     ...     ...
4286  50332      no
4287  51293     yes
4288  54023      no
4289  53775      no
4290  51945      no

[4291 rows x 2 columns]