# 작업 2유형
- https://www.datamanim.com/dataset/03_dataq/typetwo.html#id3

# 1. 서비스 이탈예측 데이터(Classification)

> Attention
- 데이터 설명 : 고객의 신상정보 데이터를 통한 회사 서비스 이탈 예측 (종속변수 : Exited)
- 데이터 출처 : https://www.kaggle.com/shubh0799/churn-modelling 에서 변형
- X_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv
- y_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv
- X_test : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv
- y_test(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_test.csv

#### 0. 시험 환경 세팅

In [1]:
import pandas as pd

X_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv")
X_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_test.csv")

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((6499, 12), (6499, 2), (3501, 12), (3501, 2))

#### 1. 라이브러리 및 데이터 호출

In [2]:
import numpy as np
import pandas as pd

In [3]:
X_train.drop('CustomerId', axis=1, inplace=True)
CustomerId = X_test.pop('CustomerId')

y = y_train['Exited']

X_train.shape, y.shape, X_test.shape

((6499, 11), (6499,), (3501, 11))

#### 2. EDA

In [4]:
display(X_train.info(), X_train.head(), X_train.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Surname          6499 non-null   object
 1   CreditScore      6499 non-null   int64
 2   Geography        6499 non-null   object
 3   Gender           6499 non-null   object
 4   Age              6499 non-null   int64
 5   Tenure           6499 non-null   int64
 6   Balance          6499 non-null   float64
 7   NumOfProducts    6499 non-null   int64
 8   HasCrCard        6499 non-null   int64
 9   IsActiveMember   6499 non-null   int64
 10  EstimatedSalary  6499 non-null   float64
dtypes: float64(2), int64(6), object(3)
memory usage: 558.6+ KB

None

,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,Zetticci,791,Germany,Female,35,7,52436.20,1,1,0,161051.75
1,Bischof,705,Germany,Male,42,8,166685.92,2,1,1,55313.51
2,Hsiung,543,France,Female,31,4,138317.94,1,0,0,61843.73
3,Pritchard,709,France,Female,32,2,0.00,2,0,0,109681.29
4,Ts'ai,714,Germany,Female,36,1,101609.01,2,1,1,447.73

Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [5]:
display(X_test.info(), X_test.head(), X_test.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3501 entries, 0 to 3500
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Surname          3501 non-null   object
 1   CreditScore      3501 non-null   int64
 2   Geography        3501 non-null   object
 3   Gender           3501 non-null   object
 4   Age              3501 non-null   int64
 5   Tenure           3501 non-null   int64
 6   Balance          3501 non-null   float64
 7   NumOfProducts    3501 non-null   int64
 8   HasCrCard        3501 non-null   int64
 9   IsActiveMember   3501 non-null   int64
 10  EstimatedSalary  3501 non-null   float64
dtypes: float64(2), int64(6), object(3)
memory usage: 301.0+ KB

None

,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,Abdullah,802,France,Female,60,3,92887.06,1,1,0,39473.63
1,Ignatiev,602,France,Female,56,3,115895.22,3,1,0,4176.17
2,Anenechukwu,801,France,Female,32,4,75170.54,1,1,1,37898.50
3,Wade,693,Spain,Female,34,10,107556.06,2,0,0,154631.35
4,Ch'in,592,France,Female,62,5,0.00,1,1,1,100941.57

Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [6]:
for c in X_train.columns:
    print(c, X_train[c].nunique())
    print(np.sort(X_train[c].unique()))
    print('='*30)

Surname 2289
['Abazu' 'Abbott' 'Abdulov' ... 'Zuev' 'Zuyev' 'Zuyeva']
==============================
CreditScore 459
[350 351 358 359 363 365 367 373 376 382 383 386 395 399 401 404 405 407
 408 410 411 412 413 414 415 417 418 419 420 421 422 423 424 425 426 427
 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463
 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481
 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499
 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517
 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535
 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553
 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571
 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589
 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607
 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625
 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643
 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661
 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679
 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697
 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715
 716 717 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733
 734 735 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751
 752 753 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769
 770 771 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787
 788 789 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805
 806 807 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823
 824 825 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841
 842 843 844 845 846 847 848 849 850]
==============================
Geography 3
['France' 'Germany' 'Spain']
==============================
Gender 4
[' male' 'Female' 'Male' 'female']
==============================
Age 69
[18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41
 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65
 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 88 92]
==============================
Tenure 11
[ 0  1  2  3  4  5  6  7  8  9 10]
==============================
Balance 4162
[     0.    12459.19  14262.8  ... 221532.8  222267.63 238387.56]
==============================
NumOfProducts 4
[1 2 3 4]
==============================
HasCrCard 2
[0 1]
==============================
IsActiveMember 2
[0 1]
==============================
EstimatedSalary 6499
[1.1580000e+01 9.0070000e+01 1.2307000e+02 ... 1.9990932e+05 1.9992917e+05
 1.9997074e+05]
==============================

#### 3. Preprocessing
- Gender : 띄어쓰기 제거 및 대문자 변경
- 수치형 컬럼 : 정규화(MinMaxScaler)
- 범주형 컬럼 : 인코딩(LabelEncoder)

> Gender 컬럼 : 띄어쓰기 제거 및 대문자 변경

In [7]:
print(X_train['Gender'].unique(), X_test['Gender'].unique())

X_train['Gender'] = X_train['Gender'].str.replace(' ', '').str.upper()
X_test['Gender'] = X_test['Gender'].str. replace(' ', '').str.upper()

print(X_train['Gender'].unique(), X_test['Gender'].unique())

['Female' 'Male' ' male' 'female'] ['Female' 'Male' ' male' 'female']
['FEMALE' 'MALE'] ['FEMALE' 'MALE']

> 수치형 컬럼 정규화

In [8]:
int_col = X_train.select_dtypes(exclude='object').columns

> 범주형 컬럼 인코딩

In [9]:
obj_col = X_train.select_dtypes(include='object').columns

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

X_train[obj_col] = X_train[obj_col].apply(le.fit_transform)
X_test[obj_col] = X_test[obj_col].apply(le.fit_transform)

print(X_train[obj_col].dtypes)
print(X_test[obj_col].dtypes)

Surname      int32
Geography    int32
Gender       int32
dtype: object
Surname      int32
Geography    int32
Gender       int32
dtype: object

#### 4. Modeling

In [10]:
from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier, XGBRFClassifier

from sklearn.metrics import accuracy_score, roc_auc_score

In [11]:
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y, test_size=0.2, shuffle=True, random_state=156)
print(X_tr.shape, X_val.shape, y_tr.shape, y_val.shape)

(5199, 11) (1300, 11) (5199,) (1300,)

In [12]:
rf = RandomForestClassifier(random_state=156)
gb = GradientBoostingClassifier(random_state=156)
xgb = XGBClassifier(random_state=156)
xgbrf = XGBRFClassifier(random_state=156)

models = [rf, gb, xgb, xgbrf]

In [13]:
for model in models:
    model.fit(X_tr, y_tr)
    pred = model.predict(X_val)
    pred_proba = model.predict_proba(X_val)[:, 1]
    
    name = str(model).split('(')[0]
    print(name)
    print('accuracy :', accuracy_score(y_val, pred))
    print('auc :', roc_auc_score(y_val, pred_proba))
    print('='*30)

RandomForestClassifier
accuracy : 0.8569230769230769
auc : 0.859553666470093
==============================
GradientBoostingClassifier
accuracy : 0.8607692307692307
auc : 0.8704542335666254
==============================
XGBClassifier
accuracy : 0.8561538461538462
auc : 0.8515979956902147
==============================
XGBRFClassifier
accuracy : 0.8630769230769231
auc : 0.8539642977683324
==============================

> GridSearchCV

In [14]:
params = {'n_estimators':[100, 500], 'max_depth':[1,2,3,4,5]}

In [15]:
for model in models:
    gscv = GridSearchCV(model, params, cv=3, scoring='roc_auc')
    gscv.fit(X_tr, y_tr)
    
    print(str(model).split('(')[0])
    print('params :', gscv.best_params_)
    print('score :', gscv.best_score_)
    print('='*10)

RandomForestClassifier
params : {'max_depth': 5, 'n_estimators': 500}
score : 0.8434807198293779
==========
GradientBoostingClassifier
params : {'max_depth': 3, 'n_estimators': 100}
score : 0.8555033150037136
==========
XGBClassifier
params : {'max_depth': 2, 'n_estimators': 100}
score : 0.85534727474669
==========
XGBRFClassifier
params : {'max_depth': 5, 'n_estimators': 100}
score : 0.8440888679926681
==========

In [16]:
gb = GradientBoostingClassifier(random_state=156, max_depth=3 , n_estimators=100)

gb.fit(X_train, y)
pred = gb.predict(X_test)
pred_proba = gb.predict_proba(X_test)[:, 1]

In [17]:
out_data = pd.DataFrame({'CustomerId': CustomerId, 'Exited': pred})
out_data

      CustomerId  Exited
0       15601012       1
1       15734762       1
2       15586757       0
3       15590888       0
4       15726087       0
...          ...     ...
3496    15733966       1
3497    15669994       0
3498    15712403       1
3499    15643819       0
3500    15644962       0

[3501 rows x 2 columns]

In [18]:
# out_data.to_csv('123456.csv', index=False)

In [19]:
# 가채점
print('accuracy :', accuracy_score(y_test['Exited'], pred))
print('auc :', roc_auc_score(y_test['Exited'], pred_proba))

accuracy : 0.8631819480148529
auc : 0.8600647233887568

#### 5. 다른 모델 평가

> GridSearchCV 전

In [20]:
rf = RandomForestClassifier(random_state=156)
gb = GradientBoostingClassifier(random_state=156)
xgb = XGBClassifier(random_state=156)
xgbrf = XGBRFClassifier(random_state=156)

models = [rf, gb, xgb, xgbrf]

In [21]:
for model in models:
    model.fit(X_train, y)
    pred = model.predict(X_test)
    pred_proba = model.predict_proba(X_test)[:, 1]
    
    name = str(model).split('(')[0]
    print(name)
    print('accuracy :', accuracy_score(y_test['Exited'], pred))
    print('auc :', roc_auc_score(y_test['Exited'], pred_proba))
    print('='*30)

RandomForestClassifier
accuracy : 0.8588974578691803
auc : 0.848927280007888
==============================
GradientBoostingClassifier
accuracy : 0.8631819480148529
auc : 0.8600647233887568
==============================
XGBClassifier
accuracy : 0.8546129677235076
auc : 0.8362859459796643
==============================
XGBRFClassifier
accuracy : 0.8571836618109112
auc : 0.8500606687446299
==============================

> GridSearchCV 후

In [22]:
rf = RandomForestClassifier(random_state=156, max_depth=5, n_estimators=500)
gb = GradientBoostingClassifier(random_state=156, max_depth=3, n_estimators=100)
xgb = XGBClassifier(random_state=156, max_depth=2, n_estimators=100)
xgbrf = XGBRFClassifier(random_state=156, max_depth=5, n_estimators=100)

models = [rf, gb, xgb, xgbrf]

In [23]:
for model in models:
    model.fit(X_train, y)
    pred = model.predict(X_test)
    pred_proba = model.predict_proba(X_test)[:, 1]
    
    name = str(model).split('(')[0]
    print(name)
    print('accuracy :', accuracy_score(y_test['Exited'], pred))
    print('auc :', roc_auc_score(y_test['Exited'], pred_proba))
    print('='*100)

RandomForestClassifier
accuracy : 0.8551842330762639
auc : 0.8455910021108295
====================================================================================================
GradientBoostingClassifier
accuracy : 0.8631819480148529
auc : 0.8600647233887568
====================================================================================================
XGBClassifier
accuracy : 0.8603256212510711
auc : 0.8576206181169146
====================================================================================================
XGBRFClassifier
accuracy : 0.8577549271636675
auc : 0.8457949919611398
====================================================================================================