# 작업 2유형
- https://www.datamanim.com/dataset/03_dataq/typetwo.html#id4

# 2. 이직여부 판단 데이터(Classification)

> Attention
- 데이터 설명 : 이직여부 판단 데이터 (target: 1: 이직 , 0 : 이직 x)
- 데이터 출처 : https://www.kaggle.com/datasets/arashnic/hr-analytics-job-change-of-data-scientists (참고, 데이터 수정)
- X_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv
- y_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv
- X_test : https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv
- y_test(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_test.csv

#### 0. 시험 환경 세팅

In [1]:
import pandas as pd

X_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv")
X_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_test.csv")

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((12452, 13), (12452, 2), (6706, 13), (6706, 2))

#### 1. 라이브러리 및 데이터 호출

In [2]:
import numpy as np
import pandas as pd

In [3]:
X_train.drop('enrollee_id', axis=1, inplace=True)
enrollee_id = X_test.pop('enrollee_id')

y = y_train['target']

X_train.shape, X_test.shape, y.shape

((12452, 12), (6706, 12), (12452,))

#### 2. EDA

In [4]:
display(X_train.info(), X_train.head(), X_train.isnull().sum())
print('='*100)
display(X_test.info(), X_test.head(), X_test.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    12452 non-null  object
 1   city_development_index  12452 non-null  float64
 2   gender                  9535 non-null   object
 3   relevent_experience     12452 non-null  object
 4   enrolled_university     12195 non-null  object
 5   education_level         12137 non-null  object
 6   major_discipline        10586 non-null  object
 7   experience              12415 non-null  object
 8   company_size            8600 non-null   object
 9   company_type            8471 non-null   object
 10  last_new_job            12179 non-null  object
 11  training_hours          12452 non-null  int64
dtypes: float64(1), int64(1), object(10)
memory usage: 1.1+ MB

None

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17
2,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,10,NaN,NaN,1,50
3,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,>4,135
4,city_143,0.740,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,17

city                         0
city_development_index       0
gender                    2917
relevent_experience          0
enrolled_university        257
education_level            315
major_discipline          1866
experience                  37
company_size              3852
company_type              3981
last_new_job               273
training_hours               0
dtype: int64

====================================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6706 entries, 0 to 6705
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    6706 non-null   object
 1   city_development_index  6706 non-null   float64
 2   gender                  5115 non-null   object
 3   relevent_experience     6706 non-null   object
 4   enrolled_university     6577 non-null   object
 5   education_level         6561 non-null   object
 6   major_discipline        5759 non-null   object
 7   experience              6678 non-null   object
 8   company_size            4620 non-null   object
 9   company_type            4547 non-null   object
 10  last_new_job            6556 non-null   object
 11  training_hours          6706 non-null   int64
dtypes: float64(1), int64(1), object(10)
memory usage: 628.8+ KB

None

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,city_23,0.899,Male,No relevent experience,no_enrollment,Graduate,STEM,2,NaN,NaN,1,23
1,city_44,0.725,Male,No relevent experience,Part time course,Masters,STEM,5,NaN,NaN,never,39
2,city_103,0.920,Male,No relevent experience,Full time course,Graduate,STEM,7,NaN,NaN,2,262
3,city_50,0.896,Male,No relevent experience,Full time course,Graduate,STEM,7,NaN,NaN,never,78
4,city_149,0.689,Female,Has relevent experience,Full time course,Masters,STEM,19,50-99,Pvt Ltd,1,125

city                         0
city_development_index       0
gender                    1591
relevent_experience          0
enrolled_university        129
education_level            145
major_discipline           947
experience                  28
company_size              2086
company_type              2159
last_new_job               150
training_hours               0
dtype: int64

In [5]:
for c in X_train.columns:
    print(c, '고유값 개수 :', X_train[c].nunique(), '|| 결측치 개수 :', X_train[c].isnull().sum())
    print(X_train[c].unique())
    print(X_train[c].value_counts())
    print('='*100)

city 고유값 개수 : 122 || 결측치 개수 : 0
['city_138' 'city_160' 'city_57' 'city_16' 'city_143' 'city_105'
 'city_102' 'city_136' 'city_103' 'city_21' 'city_114' 'city_81' 'city_64'
 'city_67' 'city_1' 'city_75' 'city_144' 'city_100' 'city_12' 'city_50'
 'city_118' 'city_61' 'city_97' 'city_71' 'city_70' 'city_90' 'city_11'
 'city_149' 'city_98' 'city_73' 'city_23' 'city_99' 'city_9' 'city_162'
 'city_14' 'city_40' 'city_77' 'city_7' 'city_104' 'city_65' 'city_89'
 'city_173' 'city_152' 'city_28' 'city_123' 'city_91' 'city_145'
 'city_159' 'city_116' 'city_150' 'city_19' 'city_83' 'city_45' 'city_78'
 'city_115' 'city_76' 'city_155' 'city_74' 'city_101' 'city_46' 'city_24'
 'city_146' 'city_44' 'city_111' 'city_42' 'city_158' 'city_128'
 'city_165' 'city_36' 'city_79' 'city_18' 'city_93' 'city_20' 'city_2'
 'city_10' 'city_141' 'city_72' 'city_41' 'city_134' 'city_27' 'city_107'
 'city_175' 'city_37' 'city_94' 'city_62' 'city_13' 'city_53' 'city_69'
 'city_176' 'city_84' 'city_30' 'city_126' 'city_26' 'city_167' 'city_25'
 'city_48' 'city_59' 'city_131' 'city_8' 'city_33' 'city_142' 'city_109'
 'city_157' 'city_80' 'city_43' 'city_82' 'city_133' 'city_120' 'city_139'
 'city_180' 'city_117' 'city_54' 'city_121' 'city_129' 'city_31' 'city_39'
 'city_127' 'city_179' 'city_55' 'city_106' 'city_166' 'city_140']
city_103    2839
city_21     1713
city_16     1005
city_114     854
city_160     557
            ...
city_18        2
city_129       1
city_121       1
city_140       1
city_166       1
Name: city, Length: 122, dtype: int64
====================================================================================================
city_development_index 고유값 개수 : 92 || 결측치 개수 : 0
[0.836 0.92  0.866 0.91  0.74  0.794 0.804 0.897 0.624 0.926 0.73  0.666
 0.855 0.847 0.939 0.84  0.887 0.64  0.896 0.722 0.913 0.925 0.884 0.698
 0.55  0.689 0.949 0.754 0.899 0.915 0.743 0.767 0.776 0.83  0.647 0.924
 0.802 0.878 0.738 0.691 0.555 0.843 0.682 0.923 0.89  0.579 0.789 0.556
 0.558 0.762 0.735 0.725 0.563 0.766 0.527 0.903 0.893 0.824 0.865 0.796
 0.788 0.895 0.763 0.795 0.827 0.848 0.518 0.645 0.856 0.764 0.479 0.921
 0.493 0.775 0.68  0.448 0.727 0.701 0.769 0.516 0.693 0.742 0.78  0.487
 0.781 0.625 0.807 0.898 0.745 0.512 0.739 0.649]
0.920    3396
0.624    1713
0.910    1005
0.926     854
0.698     464
         ...
0.487       3
0.824       2
0.781       1
0.649       1
0.625       1
Name: city_development_index, Length: 92, dtype: int64
====================================================================================================
gender 고유값 개수 : 3 || 결측치 개수 : 2917
['Male' nan 'Female' 'Other']
Male      8595
Female     808
Other      132
Name: gender, dtype: int64
====================================================================================================
relevent_experience 고유값 개수 : 2 || 결측치 개수 : 0
['No relevent experience' 'Has relevent experience']
Has relevent experience    8953
No relevent experience     3499
Name: relevent_experience, dtype: int64
====================================================================================================
enrolled_university 고유값 개수 : 3 || 결측치 개수 : 257
['Full time course' 'no_enrollment' 'Part time course' nan]
no_enrollment       8975
Full time course    2431
Part time course     789
Name: enrolled_university, dtype: int64
====================================================================================================
education_level 고유값 개수 : 5 || 결측치 개수 : 315
['High School' 'Graduate' 'Primary School' 'Masters' 'Phd' nan]
Graduate          7540
Masters           2796
High School       1336
Phd                269
Primary School     196
Name: education_level, dtype: int64
====================================================================================================
major_discipline 고유값 개수 : 6 || 결측치 개수 : 1866
[nan 'STEM' 'Other' 'Humanities' 'No Major' 'Business Degree' 'Arts']
STEM               9414
Humanities          436
Other               248
Business Degree     195
Arts                157
No Major            136
Name: major_discipline, dtype: int64
====================================================================================================
experience 고유값 개수 : 22 || 결측치 개수 : 37
['5' '10' '>20' '6' '14' '20' '7' '9' '8' '4' '3' '13' '16' '2' '12' '15'
 '11' '1' '<1' '17' '18' nan '19']
>20    2179
4       945
5       926
3       858
6       795
2       713
7       661
9       657
10      633
8       520
15      470
11      428
14      368
1       354
16      334
<1      331
12      317
13      260
17      224
19      200
18      151
20       91
Name: experience, dtype: int64
====================================================================================================
company_size 고유값 개수 : 8 || 결측치 개수 : 3852
['100-500' nan '50-99' '10/49' '10000+' '1000-4999' '<10' '500-999'
 '5000-9999']
50-99        2000
100-500      1672
10000+       1337
10/49         947
1000-4999     852
<10           838
500-999       599
5000-9999     355
Name: company_size, dtype: int64
====================================================================================================
company_type 고유값 개수 : 6 || 결측치 개수 : 3981
['Pvt Ltd' nan 'Public Sector' 'NGO' 'Funded Startup'
 'Early Stage Startup' 'Other']
Pvt Ltd                6413
Funded Startup          652
Public Sector           620
Early Stage Startup     365
NGO                     340
Other                    81
Name: company_type, dtype: int64
====================================================================================================
last_new_job 고유값 개수 : 6 || 결측치 개수 : 273
['1' '>4' 'never' '2' '4' '3' nan]
1        5157
>4       2182
2        1895
never    1584
3         685
4         676
Name: last_new_job, dtype: int64
====================================================================================================
training_hours 고유값 개수 : 241 || 결측치 개수 : 0
[ 45  17  50 135  62  94  16  14  28 144  42  12  55  32  39 326  98  21
  82 149   4  54  48 254  29   7  33 118   8  72  78  86  44  30  74 148
  46  81  47  85  22 228  23   9  34  27  26 100  67  52  43  83  19  51
 256  77  76 206  18  91  24 126  96 250 117 102  11  15  56  41 214   6
  25 108  35 184  75  37   2  10 308 146 196  13  65 192  90  66 105 124
 158 163  36   3 156  70  87 151 202  80  60  63 140  89 112 288  84  20
 136  38  31 282 119  49 290 145 133 162 314 330 110 122 168  73 114  57
 103 155 161  61 142  69  92 128 264   1 101  64 104 152  53 129 182 328
  97 248 302  68 167  79 212 188 232  40 246 174 111 322  59 216 198 141
 204 234 134 180  58 210 150 194 130   5 176 132  99 166 153 157 113 270
 139 332 240 310 127 131 107 258 106 190 121 154  88 138 336 147  95 268
 200 320 109 125 160 164 178 116 120 286 123 260 222 312 143 236 238 316
 170 280 294 284 266 165 226 300 324 172 262  71 334 244 242 278 224 304
 276 292 298 220 218 306 272]
28     212
50     198
20     191
17     186
18     184
      ...
276      4
272      3
234      3
238      2
228      2
Name: training_hours, Length: 241, dtype: int64
====================================================================================================

In [6]:
int_col = X_train.select_dtypes(exclude='object').columns

for c in int_col:
    print(c, X_train[c].nunique(), X_train[c].isnull().sum())

city_development_index 92 0
training_hours 241 0

In [7]:
obj_col = X_train.select_dtypes(include='object').columns

for c in obj_col:
    print(c, '고유값 개수 :', X_train[c].nunique(), '|| 결측치 비율:', round(X_train[c].isnull().sum() / len(X_train[c]) * 100, 2))

city 고유값 개수 : 122 || 결측치 비율: 0.0
gender 고유값 개수 : 3 || 결측치 비율: 23.43
relevent_experience 고유값 개수 : 2 || 결측치 비율: 0.0
enrolled_university 고유값 개수 : 3 || 결측치 비율: 2.06
education_level 고유값 개수 : 5 || 결측치 비율: 2.53
major_discipline 고유값 개수 : 6 || 결측치 비율: 14.99
experience 고유값 개수 : 22 || 결측치 비율: 0.3
company_size 고유값 개수 : 8 || 결측치 비율: 30.93
company_type 고유값 개수 : 6 || 결측치 비율: 31.97
last_new_job 고유값 개수 : 6 || 결측치 비율: 2.19

#### 3. Preprocessing

> 수치형 컬럼 2개(city_development_index, training_hours)
- 정규화(MinMaxScaler)

In [8]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

X_train[int_col] = scaler.fit_transform(X_train[int_col])
X_test[int_col] = scaler.transform(X_test[int_col])

display(X_train[int_col], X_test[int_col])

       city_development_index  training_hours
0                    0.774451        0.131343
1                    0.942116        0.047761
2                    0.834331        0.146269
3                    0.922156        0.400000
4                    0.582834        0.047761
...                       ...             ...
12447                0.351297        0.161194
12448                0.942116        0.017910
12449                0.942116        0.104478
12450                0.942116        0.119403
12451                0.896208        0.035821

[12452 rows x 2 columns]

      city_development_index  training_hours
0                   0.900200        0.065672
1                   0.552894        0.113433
2                   0.942116        0.779104
3                   0.894212        0.229851
4                   0.481038        0.370149
...                      ...             ...
6701                0.942116        0.020896
6702                0.870259        0.020896
6703                0.774451        0.056716
6704                0.896208        0.253731
6705                0.351297        0.316418

[6706 rows x 2 columns]

> gender
- 결측치 : 최빈값 대체
- 인코딩 : LabelEncoder

In [9]:
X_train['gender'] = X_train['gender'].fillna(X_train['gender'].mode()[0])
X_test['gender'] = X_test['gender'].fillna(X_test['gender'].mode()[0])

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

X_train['gender'] = le.fit_transform(X_train['gender'])
X_test['gender'] = le.fit_transform(X_test['gender'])

print(X_train['gender'].unique(), X_test['gender'].unique())

[1 0 2] [1 0 2]

> city
- 'city_' 제거
- 컬럼 타입 : int 타입으로 변경

In [10]:
X_train['city'] = X_train['city'].apply(lambda x: int(str(x).split('_')[1]))
X_test['city'] = X_test['city'].apply(lambda x: int(str(x).split('_')[1]))

print(np.sort(X_train['city'].unique()))

[  1   2   7   8   9  10  11  12  13  14  16  18  19  20  21  23  24  25
  26  27  28  30  31  33  36  37  39  40  41  42  43  44  45  46  48  50
  53  54  55  57  59  61  62  64  65  67  69  70  71  72  73  74  75  76
  77  78  79  80  81  82  83  84  89  90  91  93  94  97  98  99 100 101
 102 103 104 105 106 107 109 111 114 115 116 117 118 120 121 123 126 127
 128 129 131 133 134 136 138 139 140 141 142 143 144 145 146 149 150 152
 155 157 158 159 160 162 165 166 167 173 175 176 179 180]

> relevent_experience
- 인코딩 : LabelEncoder

In [11]:
X_train['relevent_experience'] = le.fit_transform(X_train['relevent_experience'])
X_test['relevent_experience'] = le.fit_transform(X_test['relevent_experience'])

print(X_train['relevent_experience'].unique(), X_test['relevent_experience'].unique())

[1 0] [1 0]

> 3개 컬럼(enrolled_university, education_level, major_discipline)
- 결측치 : 최빈값 대체
- 인코딩 : LabelEncoder

In [12]:
isnull_mode_list = ['enrolled_university', 'education_level', 'major_discipline']
for c in isnull_mode_list:
    X_train[c] = X_train[c].fillna(X_train[c].mode()[0])
    X_test[c] = X_test[c].fillna(X_test[c].mode()[0])
    
print(X_train[isnull_mode_list].isnull().sum())
print(X_test[isnull_mode_list].isnull().sum())

X_train[isnull_mode_list] = X_train[isnull_mode_list].apply(le.fit_transform)
X_test[isnull_mode_list] = X_test[isnull_mode_list].apply(le.fit_transform)

display(X_train[isnull_mode_list], X_test[isnull_mode_list])

enrolled_university    0
education_level        0
major_discipline       0
dtype: int64
enrolled_university    0
education_level        0
major_discipline       0
dtype: int64

       enrolled_university  education_level  major_discipline
0                        0                1                 5
1                        0                1                 5
2                        2                0                 5
3                        2                0                 5
4                        0                0                 5
...                    ...              ...               ...
12447                    2                0                 5
12448                    2                0                 5
12449                    2                0                 5
12450                    0                0                 5
12451                    0                0                 5

[12452 rows x 3 columns]

      enrolled_university  education_level  major_discipline
0                       2                0                 5
1                       1                2                 5
2                       0                0                 5
3                       0                0                 5
4                       0                2                 5
...                   ...              ...               ...
6701                    1                0                 5
6702                    0                0                 5
6703                    1                2                 2
6704                    0                2                 5
6705                    2                2                 5

[6706 rows x 3 columns]

> experience
- <1 -> 0 || >20 -> 21로 변경
- 결측치 : 최빈값 대체
- 컬럼 타입 : float 타입으로 변경

In [13]:
X_train['experience'] = X_train['experience'].str.replace('<1', '0')
X_train['experience'] = X_train['experience'].str.replace('>20', '21')

X_test['experience'] = X_test['experience'].str.replace('<1', '0')
X_test['experience'] = X_test['experience'].str.replace('>20', '21')

X_train['experience'] = X_train['experience'].fillna(X_train['experience'].mode()[0])
X_test['experience'] = X_test['experience'].fillna(X_test['experience'].mode()[0])

X_train['experience'] = X_train['experience'].astype(float)
X_test['experience'] = X_test['experience'].astype(float)

print(np.sort(X_train['experience'].unique()))
print(np.sort(X_test['experience'].unique()))

[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. 20. 21.]
[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. 20. 21.]

> 2개 컬럼(company_size, company_type)
- 인코딩 : get_dummies
- 컬럼명 변경 이유 : xgboost 계열은 피처 이름에 <를 포함할경우 진행 불가능하므로 임의로 변경

In [14]:
dum_list = ['company_size', 'company_type']

X_train_dum = pd.get_dummies(X_train[dum_list])
X_test_dum = pd.get_dummies(X_test[dum_list])

X_train_dum.columns = X_train_dum.columns.str.replace('<', '')
X_test_dum.columns = X_test_dum.columns.str.replace('<', '')

'''
name = 'company_'
num = 0

for c in X_train_dum.columns:
    num = num+1
    X_train_dum.rename(columns = {c : name + str(num)}, inplace=True)
    X_test_dum.rename(columns = {c : name + str(num)}, inplace=True)
'''

X_train.drop(dum_list, axis=1, inplace=True)
X_test.drop(dum_list, axis=1, inplace=True)

X_train = pd.concat([X_train, X_train_dum], axis=1)
X_test = pd.concat([X_test, X_test_dum], axis=1)

X_train.shape, X_test.shape

((12452, 24), (6706, 24))

> last_new_job
- never -> 0, || >4 -> 5로 변경
- 결측치 : 최빈값 대체
- 컬럼 타입 : int 타입으로 변경

In [15]:
X_train['last_new_job'] = X_train['last_new_job'].str.replace('never', '0')
X_train['last_new_job'] = X_train['last_new_job'].str.replace('>4', '5')

X_test['last_new_job'] = X_test['last_new_job'].str.replace('never', '0')
X_test['last_new_job'] = X_test['last_new_job'].str.replace('>4', '5')

X_train['last_new_job'] = X_train['last_new_job'].fillna(X_train['last_new_job'].mode()[0])
X_test['last_new_job'] = X_test['last_new_job'].fillna(X_test['last_new_job'].mode()[0])

X_train['last_new_job'] = X_train['last_new_job'].astype(int)
X_test['last_new_job'] = X_test['last_new_job'].astype(int)

print(np.sort(X_train['last_new_job'].unique()))
print(np.sort(X_test['last_new_job'].unique()))

[0 1 2 3 4 5]
[0 1 2 3 4 5]

#### 4. Modeling

In [16]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier, XGBRFClassifier
from sklearn.metrics import accuracy_score, roc_auc_score

In [17]:
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y, test_size=0.2, shuffle=True, stratify=y, random_state=156)

In [18]:
rf = RandomForestClassifier(random_state=156)
gb = GradientBoostingClassifier(random_state=156)
xgb = XGBClassifier(random_state=156) 
xgbrf = XGBRFClassifier(random_state=156)

models = [rf, gb, xgb, xgbrf]

In [19]:
for model in models:
    model.fit(X_tr, y_tr)
    pred = model.predict(X_val)
    pred_proba = model.predict_proba(X_val)[:, 1]
    
    name = str(model).split('(')[0]
    print(name)
    print('accuracy :', accuracy_score(y_val, pred))
    print('auc :', roc_auc_score(y_val, pred_proba))
    print('='*100)

RandomForestClassifier
accuracy : 0.79084704937776
auc : 0.7923161710885496
====================================================================================================
GradientBoostingClassifier
accuracy : 0.7892412685668406
auc : 0.801158214713202
====================================================================================================
XGBClassifier
accuracy : 0.7804094741067844
auc : 0.7910429960302083
====================================================================================================
XGBRFClassifier
accuracy : 0.7852268165395424
auc : 0.7912001515582078
====================================================================================================

> GridSearchCV

In [20]:
params = {'n_estimators':[100, 500], 'max_depth':[1,2,3,4,5]}

In [21]:
for model in models:
    gscv = GridSearchCV(model, params, cv=3, scoring='roc_auc')
    gscv.fit(X_tr, y_tr)
    
    print(str(model).split('(')[0])
    print('params :', gscv.best_params_)
    print('score :', gscv.best_score_)
    print('='*10)

RandomForestClassifier
params : {'max_depth': 5, 'n_estimators': 500}
score : 0.7821163689372703
==========
GradientBoostingClassifier
params : {'max_depth': 1, 'n_estimators': 500}
score : 0.7952752764916675
==========
XGBClassifier
params : {'max_depth': 1, 'n_estimators': 500}
score : 0.7957814243995852
==========
XGBRFClassifier
params : {'max_depth': 5, 'n_estimators': 500}
score : 0.7854271787852865
==========

In [22]:
xgb = XGBClassifier(random_state=156, max_depth=2, n_estimators=100)

xgb.fit(X_train, y)
pred = xgb.predict(X_test)
pred_proba = xgb.predict_proba(X_test)[:,1]

In [23]:
out_data = pd.DataFrame({'enrollee_id' : enrollee_id, 'target' : pred})
out_data

      enrollee_id  target
0            7129       0
1           31037       0
2           22179       1
3           29724       0
4           17977       0
...           ...     ...
6701         3601       0
6702         2745       0
6703        18520       0
6704        10067       0
6705         8203       0

[6706 rows x 2 columns]

In [24]:
# out_data.to_csv('123456.csv', index_False)

In [25]:
# 가채점
print('accuracy :', accuracy_score(y_test['target'], pred))
print('auc :', roc_auc_score(y_test['target'], pred_proba))

accuracy : 0.7819862809424396
auc : 0.7933456205933622

#### 5. 다른 모델 평가

> GridSearchCV 전

In [26]:
rf = RandomForestClassifier(random_state=156)
gb = GradientBoostingClassifier(random_state=156)
xgb = XGBClassifier(random_state=156)
xgbrf = XGBRFClassifier(random_state=156)

models = [rf, gb, xgb, xgbrf]

In [27]:
for model in models:
    model.fit(X_train, y)
    pred = model.predict(X_test)
    pred_proba = model.predict_proba(X_test)[:, 1]
    
    name = str(model).split('(')[0]
    print(name)
    print('accuracy :', accuracy_score(y_test['target'], pred))
    print('auc :', roc_auc_score(y_test['target'], pred_proba))
    print('='*100)

RandomForestClassifier
accuracy : 0.778705636743215
auc : 0.7794468903323429
====================================================================================================
GradientBoostingClassifier
accuracy : 0.7824336415150611
auc : 0.7910064432671232
====================================================================================================
XGBClassifier
accuracy : 0.7763197136892335
auc : 0.7844605248900776
====================================================================================================
XGBRFClassifier
accuracy : 0.775872353116612
auc : 0.7777249868359272
====================================================================================================

> GridSearchCV 후

In [28]:
rf = RandomForestClassifier(random_state=156, max_depth=5, n_estimators=500)
gb = GradientBoostingClassifier(random_state=156, max_depth=1, n_estimators=500)
xgb = XGBClassifier(random_state=156, max_depth=2, n_estimators=100)
xgbrf = XGBRFClassifier(random_state=156, max_depth=5, n_estimators=100)

models = [rf, gb, xgb, xgbrf]

In [29]:
for model in models:
    model.fit(X_train, y)
    pred = model.predict(X_test)
    pred_proba = model.predict_proba(X_test)[:, 1]
    
    name = str(model).split('(')[0]
    print(name)
    print('accuracy :', accuracy_score(y_test['target'], pred))
    print('auc :', roc_auc_score(y_test['target'], pred_proba))
    print('='*100)

RandomForestClassifier
accuracy : 0.7703549060542797
auc : 0.7755468555449736
====================================================================================================
GradientBoostingClassifier
accuracy : 0.7746793915896212
auc : 0.7882763832731683
====================================================================================================
XGBClassifier
accuracy : 0.7819862809424396
auc : 0.7933456205933622
====================================================================================================
XGBRFClassifier
accuracy : 0.775872353116612
auc : 0.774981798411947
====================================================================================================