# 작업 2유형
- https://www.datamanim.com/dataset/03_dataq/typetwo.html#id15

# 4. 학생성적 예측 데이터(Regression)

> Attention
- 데이터 설명 : 학생성적 예측 (종속변수 :G3)
- 데이터 출처 : https://www.kaggle.com/datasets/ishandutta/student-performance-data-set (참고, 데이터 수정)
- X_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv
- y_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv
- X_test : https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv
- y_test(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_test.csv

#### 0. 시험 환경 세팅

In [1]:
import pandas as pd

X_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv")
X_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_test.csv")

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((678, 33), (678, 2), (366, 33), (366, 2))

#### 1. 라이브러리 및 데이터 호출

In [2]:
import numpy as np
import pandas as pd

In [3]:
X_train.drop('StudentID', axis=1, inplace=True)
StudentID = X_test.pop('StudentID')

y = y_train['G3']

X_train.shape, X_test.shape, y.shape

((678, 32), (366, 32), (678,))

#### 2. EDA

In [4]:
X_train.info(), X_train.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      678 non-null    object
 1   sex         678 non-null    object
 2   age         678 non-null    int64
 3   address     678 non-null    object
 4   famsize     678 non-null    object
 5   Pstatus     678 non-null    object
 6   Medu        678 non-null    int64
 7   Fedu        678 non-null    int64
 8   Mjob        678 non-null    object
 9   Fjob        678 non-null    object
 10  reason      678 non-null    object
 11  guardian    678 non-null    object
 12  traveltime  678 non-null    int64
 13  studytime   678 non-null    int64
 14  failures    678 non-null    int64
 15  schoolsup   678 non-null    object
 16  famsup      678 non-null    object
 17  paid        678 non-null    object
 18  activities  678 non-null    object
 19  nursery     678 non-null    object
 20  higher      678 non-null    object
 21  internet    678 non-null    object
 22  romantic    678 non-null    object
 23  famrel      678 non-null    int64
 24  freetime    678 non-null    int64
 25  goout       678 non-null    int64
 26  Dalc        678 non-null    int64
 27  Walc        678 non-null    int64
 28  health      678 non-null    int64
 29  absences    678 non-null    int64
 30  G1          678 non-null    int64
 31  G2          678 non-null    int64
dtypes: int64(15), object(17)
memory usage: 169.6+ KB

(None,
 school        0
 sex           0
 age           0
 address       0
 famsize       0
 Pstatus       0
 Medu          0
 Fedu          0
 Mjob          0
 Fjob          0
 reason        0
 guardian      0
 traveltime    0
 studytime     0
 failures      0
 schoolsup     0
 famsup        0
 paid          0
 activities    0
 nursery       0
 higher        0
 internet      0
 romantic      0
 famrel        0
 freetime      0
 goout         0
 Dalc          0
 Walc          0
 health        0
 absences      0
 G1            0
 G2            0
 dtype: int64)

In [5]:
X_test.info(), X_test.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      366 non-null    object
 1   sex         366 non-null    object
 2   age         366 non-null    int64
 3   address     366 non-null    object
 4   famsize     366 non-null    object
 5   Pstatus     366 non-null    object
 6   Medu        366 non-null    int64
 7   Fedu        366 non-null    int64
 8   Mjob        366 non-null    object
 9   Fjob        366 non-null    object
 10  reason      366 non-null    object
 11  guardian    366 non-null    object
 12  traveltime  366 non-null    int64
 13  studytime   366 non-null    int64
 14  failures    366 non-null    int64
 15  schoolsup   366 non-null    object
 16  famsup      366 non-null    object
 17  paid        366 non-null    object
 18  activities  366 non-null    object
 19  nursery     366 non-null    object
 20  higher      366 non-null    object
 21  internet    366 non-null    object
 22  romantic    366 non-null    object
 23  famrel      366 non-null    int64
 24  freetime    366 non-null    int64
 25  goout       366 non-null    int64
 26  Dalc        366 non-null    int64
 27  Walc        366 non-null    int64
 28  health      366 non-null    int64
 29  absences    366 non-null    int64
 30  G1          366 non-null    int64
 31  G2          366 non-null    int64
dtypes: int64(15), object(17)
memory usage: 91.6+ KB

(None,
 school        0
 sex           0
 age           0
 address       0
 famsize       0
 Pstatus       0
 Medu          0
 Fedu          0
 Mjob          0
 Fjob          0
 reason        0
 guardian      0
 traveltime    0
 studytime     0
 failures      0
 schoolsup     0
 famsup        0
 paid          0
 activities    0
 nursery       0
 higher        0
 internet      0
 romantic      0
 famrel        0
 freetime      0
 goout         0
 Dalc          0
 Walc          0
 health        0
 absences      0
 G1            0
 G2            0
 dtype: int64)

In [6]:
int_col = X_train.select_dtypes(exclude='object').columns

print('int_col','\n')

for c in int_col:
    print(c, X_train[c].nunique())
    print(np.sort(X_train[c].unique()))
    print('='*100)

int_col

age 8
[15 16 17 18 19 20 21 22]
====================================================================================================
Medu 5
[0 1 2 3 4]
====================================================================================================
Fedu 5
[0 1 2 3 4]
====================================================================================================
traveltime 4
[1 2 3 4]
====================================================================================================
studytime 4
[1 2 3 4]
====================================================================================================
failures 4
[0 1 2 3]
====================================================================================================
famrel 5
[1 2 3 4 5]
====================================================================================================
freetime 5
[1 2 3 4 5]
====================================================================================================
goout 5
[1 2 3 4 5]
====================================================================================================
Dalc 5
[1 2 3 4 5]
====================================================================================================
Walc 5
[1 2 3 4 5]
====================================================================================================
health 5
[1 2 3 4 5]
====================================================================================================
absences 31
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 26 30 32 54 56 75]
====================================================================================================
G1 16
[ 4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
====================================================================================================
G2 16
[ 0  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
====================================================================================================

In [7]:
obj_col = X_train.select_dtypes(include='object').columns

print('obj col', '\n')

for c in obj_col:
    print(c, X_train[c].nunique())
    print(X_train[c].unique())
    print('='*100)

obj col

school 2
['GP' 'MS']
====================================================================================================
sex 2
['F' 'M']
====================================================================================================
address 2
['U' 'R']
====================================================================================================
famsize 2
['GT3' 'LE3']
====================================================================================================
Pstatus 2
['T' 'A']
====================================================================================================
Mjob 5
['other' 'health' 'services' 'at_home' 'teacher']
====================================================================================================
Fjob 5
['other' 'teacher' 'services' 'at_home' 'health']
====================================================================================================
reason 4
['reputation' 'other' 'course' 'home']
====================================================================================================
guardian 3
['father' 'mother' 'other']
====================================================================================================
schoolsup 2
['no' 'yes']
====================================================================================================
famsup 2
['yes' 'no']
====================================================================================================
paid 2
['yes' 'no']
====================================================================================================
activities 2
['no' 'yes']
====================================================================================================
nursery 2
['yes' 'no']
====================================================================================================
higher 2
['yes' 'no']
====================================================================================================
internet 2
['yes' 'no']
====================================================================================================
romantic 2
['no' 'yes']
====================================================================================================

#### 3. Preprocessing

In [8]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

scaler = StandardScaler()
X_train[int_col] = scaler.fit_transform(X_train[int_col])
X_test[int_col] = scaler.transform(X_test[int_col])

le = LabelEncoder()
X_train[obj_col] = X_train[obj_col].apply(le.fit_transform)
X_test[obj_col] = X_test[obj_col].apply(le.fit_transform)

#### 4. Modeling

In [9]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor, XGBRFRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [10]:
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y, test_size=0.15, shuffle=True, random_state=156)

In [11]:
rf = RandomForestRegressor(random_state=156)
gb = GradientBoostingRegressor(random_state=156)
xgb = XGBRegressor(random_state=156)
xgbrf = XGBRFRegressor(random_state=156)

models = [rf, gb, xgb, xgbrf]

In [12]:
for model in models:
    model.fit(X_tr, y_tr)
    pred = model.predict(X_val)
    
    print(str(model).split('(')[0])
    print('rmse :', np.sqrt(mean_squared_error(y_val, pred)) )
    print('r2 :', r2_score(y_val, pred))
    print('='*10)

RandomForestRegressor
rmse : 1.3890768744676547
r2 : 0.8316614458727802
==========
GradientBoostingRegressor
rmse : 1.331794155296676
r2 : 0.8452590568594068
==========
XGBRegressor
rmse : 1.465128419342387
r2 : 0.8127238746962026
==========
XGBRFRegressor
rmse : 1.4037784793343253
r2 : 0.8280792921426299
==========

In [13]:
params = {'n_estimators':[100, 500], 'max_depth':[1,2,3,4,5]}

In [14]:
for model in models:
    gscv = GridSearchCV(model, params, cv=3, scoring='r2')
    gscv.fit(X_tr, y_tr)
    
    print(str(model).split('(')[0])
    print('params :', gscv.best_params_)
    print('score :', gscv.best_score_)
    print('='*10)

RandomForestRegressor
params : {'max_depth': 4, 'n_estimators': 100}
score : 0.8668716120828512
==========
GradientBoostingRegressor
params : {'max_depth': 2, 'n_estimators': 100}
score : 0.8674161685480662
==========
XGBRegressor
params : {'max_depth': 3, 'n_estimators': 100}
score : 0.8537392684812736
==========
XGBRFRegressor
params : {'max_depth': 4, 'n_estimators': 100}
score : 0.8656589219377491
==========

In [15]:
gb = GradientBoostingRegressor(random_state=156, max_depth=2, n_estimators=100)

gb.fit(X_train, y)
pred = gb.predict(X_test)

In [16]:
out_data = pd.DataFrame({'StudentID':StudentID, 'G3':pred})
out_data

     StudentID         G3
0         1000  16.257920
1         1008  10.683529
2         1013  14.331553
3         1014   7.073271
4         1017  11.097319
..         ...        ...
361       2032  15.324692
362       2034  12.576477
363       2035  16.104148
364       2036   2.220004
365       2037  14.690849

[366 rows x 2 columns]

In [17]:
# out_data.to_csv('123456.csv', index=False)

In [18]:
# 가채점
print('rmse :', np.sqrt(mean_squared_error(y_test['G3'], pred)))
print('r2 :', r2_score(y_test['G3'], pred))

rmse : 1.6222920367290228
r2 : 0.8288514348036109

#### 5. 다른 모델 평가

> GridSearchCV 전

In [19]:
rf = RandomForestRegressor(random_state=156)
gb = GradientBoostingRegressor(random_state=156)
xgb = XGBRegressor(random_state=156)
xgbrf = XGBRFRegressor(random_state=156)

models = [rf, gb, xgb, xgbrf]

In [20]:
for model in models:
    model.fit(X_train, y)
    pred = model.predict(X_test)
    
    print(str(model).split('(')[0])
    print('rmse :', np.sqrt(mean_squared_error(y_test['G3'], pred)) )
    print('r2 :', r2_score(y_test['G3'], pred))
    print('='*10)

RandomForestRegressor
rmse : 1.686404725735492
r2 : 0.8150566112866586
==========
GradientBoostingRegressor
rmse : 1.6608885592335358
r2 : 0.8206108479839985
==========
XGBRegressor
rmse : 1.819759240572865
r2 : 0.784650902223296
==========
XGBRFRegressor
rmse : 1.6843752956947406
r2 : 0.8155014675256483
==========

> GridSearchCV 후

In [21]:
rf = RandomForestRegressor(random_state=156, max_depth=4, n_estimators=100)
gb = GradientBoostingRegressor(random_state=156, max_depth=2, n_estimators=100)
xgb = XGBRegressor(random_state=156, max_depth=3, n_estimators=100)
xgbrf = XGBRFRegressor(random_state=156, max_depth=4, n_estimators=100)

models = [rf, gb, xgb, xgbrf]

In [22]:
for model in models:
    model.fit(X_train, y)
    pred = model.predict(X_test)
    
    print(str(model).split('(')[0])
    print('rmse :', np.sqrt(mean_squared_error(y_test['G3'], pred)) )
    print('r2 :', r2_score(y_test['G3'], pred))
    print('='*10)

RandomForestRegressor
rmse : 1.6742038706478317
r2 : 0.8177229995730235
==========
GradientBoostingRegressor
rmse : 1.6222920367290228
r2 : 0.8288514348036109
==========
XGBRegressor
rmse : 1.7416787790105732
r2 : 0.802734421457687
==========
XGBRFRegressor
rmse : 1.6698582942659126
r2 : 0.8186680106953372
==========