# 실기 모의고사 2회
- https://www.datamanim.com/dataset/practice/q2.html

## 작업 1유형
> Attention
- 데이터 출처 : https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset (후처리 작업)
- 데이터 설명 : 뇌졸증 발생여부 예측
- dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke/train.csv

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

### Question1

성별이 Male인 환자들의 age의 평균값은 ?

In [2]:
df['age'].unique()

array(['31', '13', '18', '65', '4', '28', '64', '62', '26', '63', '50',
       '77', '1', '52', '24', '48', '45', '74', '3', '17', '54', '55',
       '67', '35', '38', '81', '34', '44', '79', '56', '70', '30', '39',
       '29', '80', '59', '51', '19', '43', '71', '0', '23', '53', '78',
       '66', '60', '76', '22', '6', '47', '2', '46', '11', '33', '37',
       '49', '61', '75', '40', '8', '57', '12', '21', '41', '58', '27',
       '20', '68', '42', '5', '69', '9', '36', '25', '82', '73', '32',
       '7', '16', '14', '72', '15', '10', '*82'], dtype=object)

In [3]:
q1 = df.copy()

q1['age'] = q1['age'].str.replace('*', '').astype('int')
q1['age'] = q1['age']
q1['age'].unique()

C:\Users\inp02\AppData\Local\Temp/ipykernel_13132/496031811.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  q1['age'] = q1['age'].str.replace('*', '').astype('int')

array([31, 13, 18, 65,  4, 28, 64, 62, 26, 63, 50, 77,  1, 52, 24, 48, 45,
       74,  3, 17, 54, 55, 67, 35, 38, 81, 34, 44, 79, 56, 70, 30, 39, 29,
       80, 59, 51, 19, 43, 71,  0, 23, 53, 78, 66, 60, 76, 22,  6, 47,  2,
       46, 11, 33, 37, 49, 61, 75, 40,  8, 57, 12, 21, 41, 58, 27, 20, 68,
       42,  5, 69,  9, 36, 25, 82, 73, 32,  7, 16, 14, 72, 15, 10])

In [4]:
result = q1.loc[q1['gender'] == 'Male']['age'].mean()
print(result)

44.68623481781376

>Anwser

In [5]:
df['age'] = df['age'].str.replace('*','').astype('int')
result = df[df.gender =='Male'].age.mean()
print(result)

44.68623481781376

C:\Users\inp02\AppData\Local\Temp/ipykernel_13132/1651558595.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['age'] = df['age'].str.replace('*','').astype('int')

### Question2

bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [6]:
q2 = df.copy()

bmi_median = q2[~q2['bmi'].isnull()]['bmi'].median()
q2['bmi'] = q2['bmi'].fillna(bmi_median)
result = round(q2['bmi'].mean(), 3)

print(result)

29.166

>Anwser

In [7]:
fi = df['bmi'].fillna(df['bmi'].median())
result = round(fi.mean(),3)
print(result)

29.166

### Question3

bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [8]:
q3 = df.copy()

q3['bmi'] = q3['bmi'].fillna(method='ffill')
result = round(q3['bmi'].mean(), 3)

print(result)

29.188

>Anwser

In [9]:
fi = df['bmi'].fillna(method = 'ffill')
result = round(fi.mean(),3)
print(result)

29.188

### Question4

bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [10]:
import numpy as np
q4 = df.copy()

# 나이대 10단위 변환 컬럼 생성
q4['age2'] = q4['age'].apply(lambda x: x//10 * 10)

# 결측치 제외 데이터프레임 생성
q4_not_null = q4[q4['bmi'].notnull()]

age_bmi_dict = {}

# 나이대 컬럼에 맞는 평균 bmi 딕셔러니 생성
for c in np.sort(q4['age2'].unique()):
    mean = q4_not_null[q4_not_null['age2'] == c]['bmi'].mean()
    age_bmi_dict[c] = mean

# 나이대 컬럼 bmi값 매핑
q4.loc[q4['bmi'].isnull(), 'bmi'] = q4[q4['bmi'].isnull()]['age2'].map(lambda x: age_bmi_dict[x])

result = round(q4['bmi'].mean(), 3)
print(result)

29.263

>Anwser

In [11]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
# Noise 데이터 int형 변환
df['age'] = df['age'].str.replace('*','').astype('int')

# 결측치 제외 나이대별 평균값 계산 및 dictionary 형태로 변환
mean = df[df.bmi.notnull()].groupby(df.age//10 *10).bmi.mean()
dic = { x:y for x,y in mean.items()}


idx =df.loc[df.bmi.isnull(),['age','bmi']].index
# 결측치 매핑
df.loc[df.bmi.isnull(),'bmi']  =(df[df.bmi.isnull()].age//10*10).map(lambda x : dic[x])

result = round(df.bmi.mean(), 3)
print(result)

C:\Users\inp02\AppData\Local\Temp/ipykernel_13132/1208631434.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['age'] = df['age'].str.replace('*','').astype('int')

29.263

### Question5

avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라

In [12]:
q5 = df.copy()
q5.loc[q5['avg_glucose_level'] >= 200, 'avg_glucose_level'] = 199
result = round(q5.loc[q5['stroke'] == 1, 'avg_glucose_level'].mean(), 3)

print(result)

125.188

>Anwser

In [13]:
df.loc[df.avg_glucose_level >=200,'avg_glucose_level'] =199
result = round(df[df.stroke ==1].avg_glucose_level.mean(),3)
print(result)

125.188

## 작업 1유형_다른 데이터
> Attention
- 데이터 출처 : https://www.kaggle.com/abcsds/pokemon (참고, 데이터 수정)
- 데이터 설명 : 포켓몬 정보
- data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv

In [14]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Question6

Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

In [15]:
q6_400 = df.sort_values(by='Attack', ascending=False)[:400]
q6_400_cnt = q6_400.loc[q6_400['Legendary'] == True].shape[0]

q6_800 = df.sort_values(by='Attack', ascending=False)[400:800]
q6_800_cnt = q6_800.loc[q6_800['Legendary'] == True].shape[0]

result = q6_400_cnt - q6_800_cnt
print(result)

57

>Anwser

In [16]:
up = df.sort_values('Attack',ascending=False).reset_index(drop=True)[:400]
down = df.sort_values('Attack',ascending=False).reset_index(drop=True)[400:]

result = up.Legendary.sum() - down.Legendary.sum()
print(result)

57

In [17]:
q6_400 = df.sort_values(by='Attack', ascending=False)[:400]
q6_800 = df.sort_values(by='Attack', ascending=False)[400:800]

result = q6_400['Legendary'].sum() - q6_800['Legendary'].sum()
print(result)

57

### Question7

Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

In [18]:
result = df[['Type 1', 'Total']].groupby('Type 1').mean().sort_values(by='Total', ascending=False).reset_index()['Type 1'][2]
print(result)

Flying

>Anwser

In [19]:
result = df.groupby(['Type 1']).Total.mean().sort_values(ascending=False).index[2]
print(result)

Flying

### Question8

결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라

In [20]:
q8 = df.dropna()
result = q8[:int(q8.shape[0] * 0.6)]['Defense'].quantile(0.25)
print(result)

50.0

>Anwser

In [21]:
result = df.dropna()[:int(len(df.dropna()) *0.6)].Defense.quantile(.25)
print(result)

50.0

### Question9

Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라

In [22]:
q9_mean = df.loc[df['Type 1'] == 'Fire', 'Attack'].mean()
result = df.loc[(df['Type 1'] == 'Water') & (df['Attack'] >= q9_mean)].shape[0]
print(result)

37

>Anwser

In [23]:
target = df[df.Attack >= df[df['Type 1'] =='Fire'].Attack.mean()]
result = target[target['Type 1']=='Water'].shape[0]
print(result)

37

### Question10

각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?

In [24]:
q10 = df.groupby('Generation')[['Speed', 'Defense']].mean().reset_index()
q10['diff'] = abs(q10['Speed'] - q10['Defense'])

result = q10.sort_values(by='diff', ascending=False).reset_index(drop=True)['Generation'][0]
print(result)

2

>Anwser

In [25]:
result = abs(df.groupby(['Generation'])[['Speed','Defense']].mean().T.diff().T).sort_values('Defense').index[-1]
print(result)

2

## 작업 2유형
> Attention
- 데이터 출처 : https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset (후처리 작업)
- 데이터 설명 : 뇌졸증 발생여부 예측
- train : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv
- test : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv

In [26]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

In [27]:
display(train.head())
display(test.head())

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,47472,Female,58,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked
1,36841,Male,78,1,0,Yes,Self-employed,Rural,56.11,25.5,formerly smoked
2,3135,Female,73,0,0,No,Self-employed,Rural,69.35,NaN,never smoked
3,65218,Male,2,0,0,No,children,Rural,109.10,20.0,Unknown
4,1847,Female,20,0,0,No,Govt_job,Rural,79.53,NaN,never smoked

>간단한 모델링 작업  
- 모델링 및 submission파일 생성까지

In [28]:
train.shape, test.shape

((1137, 12), (932, 11))

In [29]:
train.isnull().sum(), test.isnull().sum()

(id                    0
 gender                0
 age                   0
 hypertension          0
 heart_disease         0
 ever_married          0
 work_type             0
 Residence_type        0
 avg_glucose_level     0
 bmi                  52
 smoking_status        0
 stroke                0
 dtype: int64,
 id                    0
 gender                0
 age                   0
 hypertension          0
 heart_disease         0
 ever_married          0
 work_type             0
 Residence_type        0
 avg_glucose_level     0
 bmi                  57
 smoking_status        0
 dtype: int64)

In [30]:
train = train.drop('id', axis=1)
id = test.pop('id')
y = train.pop('stroke')
y

0       0
1       0
2       0
3       1
4       0
       ..
1132    0
1133    0
1134    0
1135    1
1136    0
Name: stroke, Length: 1137, dtype: int64

In [31]:
# bmi 결측치 평균값으로 대체
train['bmi'] = train['bmi'].fillna(train['bmi'].mean())
test['bmi'] = test['bmi'].fillna(train['bmi'].mean())

# age 컬럼 타입 int형으로 변경
# test 데이터 셋은 이미 int형이므로 제외
train['age'] = train['age'].str.replace('*', '', regex=True).astype('int')

# 나이대 컬럼(age2) 생성
train['age2'] = train['age'].apply(lambda x: x // 10 * 10)
test['age2'] = test['age'].apply(lambda x: x // 10 * 10)

train = pd.get_dummies(train)
test = pd.get_dummies(test)

train.shape, test.shape

((1137, 22), (932, 21))

In [32]:
# train 데이터셋엔만 있는 컬럼 test 데이터셋에 추가 및 컬럼 순서 동일
fill_col = list(set(train.columns) - set(test.columns))
test[fill_col] = 0
test = test[train.columns]

print(train.shape, test.shape)

(1137, 22) (932, 22)

In [33]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier, XGBRFClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import accuracy_score, roc_auc_score

In [34]:
scaler = StandardScaler()
train = scaler.fit_transform(train)
test = scaler.transform(test)

In [35]:
X_train, X_test, y_train, y_test = train_test_split(train, y, stratify=y, random_state=2022)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(852, 22) (285, 22) (852,) (285,)

In [36]:
rf = RandomForestClassifier(random_state=2022)
gb = GradientBoostingClassifier(random_state=2022)
xgb = XGBClassifier(random_state=2022)
xgbrf = XGBRFClassifier(random_state=2022)
lgbm = LGBMClassifier(random_state=2022)

models = [rf, gb, xgb, xgbrf, lgbm]

for model in models:
    model.fit(X_train, y_train)
    pred = model.predict(X_test)
    pred_proba = model.predict_proba(X_test)[:, 1]

    print(str(model).split('(')[0])
    print('accuracy :', accuracy_score(y_test, pred))
    print('auc :', roc_auc_score(y_test, pred_proba))
    print('='*30)

RandomForestClassifier
accuracy : 0.8491228070175438
auc : 0.8075931567846262
==============================
GradientBoostingClassifier
accuracy : 0.8596491228070176
auc : 0.803257558003281
==============================
XGBClassifier
accuracy : 0.8526315789473684
auc : 0.7819310991328803
==============================
XGBRFClassifier
accuracy : 0.8807017543859649
auc : 0.8289196156550269
==============================
LGBMClassifier
accuracy : 0.8456140350877193
auc : 0.7794703538786032
==============================

In [37]:
xgbrf = XGBRFClassifier(random_state=2022)
xgbrf.fit(train, y)
pred = xgbrf.predict(test)

pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0])

In [38]:
submission = pd.DataFrame({'id' : id, 'stroke' : pred})
# submission.to_csv('12345678.csv', index=False)
submission

        id  stroke
0    47472       0
1    36841       0
2     3135       0
3    65218       0
4     1847       0
..     ...     ...
927  40311       0
928  44281       0
929  11238       0
930  17308       0
931  24782       0

[932 rows x 2 columns]