# 실기 모의고사 3회
- https://www.datamanim.com/dataset/practice/q3.html

## 작업 1유형
> Attention
- 데이터 출처 : https://www.kaggle.com/datasets/muhmores/spotify-top-100-songs-of-20152019?select=Spotify+2010+-+2019+Top+100.csv
- 데이터 설명 : 2010-2019 스포티파이 TOP100 노래
- dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
df.head()

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010.0,2022‑02‑17,138.0,89.0,68.0,-4.0,36.0,83.0,192.0,1.0,8.0,68.0,2010.0,Duo
2,I Need A Dollar,Aloe Blacc,pop soul,2010.0,2022‑02‑17,95.0,48.0,84.0,-7.0,9.0,96.0,243.0,20.0,3.0,72.0,2010.0,Solo
3,Airplanes (feat. Hayley Williams of Paramore),B.o.B,atl hip hop,2010.0,2022‑02‑17,93.0,87.0,66.0,-4.0,4.0,38.0,180.0,11.0,12.0,80.0,2010.0,Solo
4,Nothin' on You (feat. Bruno Mars),B.o.B,atl hip hop,2010.0,2022‑02‑17,104.0,85.0,69.0,-6.0,9.0,74.0,268.0,39.0,5.0,79.0,2010.0,Solo

### Question1

데이터는 현재 년도별 100곡이 인기순으로 정렬되어 있다. 각 년도별 1~100위의 랭킹을 나타내는 rank컬럼을 만들고 매년도 1위의 bpm컬럼의 평균값을 구하여라

In [2]:
import numpy as np

q1 = df.copy()

np.sort(q1['top year'].unique())

array([2010., 2011., 2012., 2013., 2014., 2015., 2016., 2017., 2018.,
       2019.,   nan])

In [3]:
# top year 컬럼 결측치 행 제거
q1 = q1.dropna(subset=['top year'])

q1['rank'] = list(range(1, 101)) * 10
result = q1.loc[q1['rank'] == 1, 'bpm'].mean()
print(result)

125.6

>Anwser

In [4]:
df = df.dropna()
df.loc[:,'rank'] = list(range(1,101))*10
result = df[df['rank'] ==1].bpm.mean()
print(result)

125.6

### Question2

2015년도에 가장많은 top100곡을 올린 artist는 누구인가?

In [5]:
q2 = df.copy()
result = q2.loc[q2['top year'] == 2015, 'artist'].value_counts().index[0]
print(result)

Taylor Swift

>Anwser

In [6]:
result = df[df['top year'] ==2015].artist.value_counts().index[0]
print(result)

Taylor Swift

### Question3

년도별 rank값이 1~10위 까지의 곡들 중 두번째로 많은 top genre는 무엇인가?

In [7]:
q3 = df.copy()
result = q3.loc[q3['rank'] <= 10, 'top genre'].value_counts().index[1]
print(result)

atl hip hop

>Anwser

In [8]:
# index[2]라고 되어 있는데 두번째로 많은 장르이므로 index[1]로 수정
result = df[df['rank'].isin(range(1,11))]['top genre'].value_counts().index[1]
print(result)

atl hip hop

### Question4

피처링의 경우 title에 표시된다. 피처링을 가장 많이 해준 가수는 누구인가?

In [9]:
q4 = df.copy()

In [10]:
def feat_split(x):
    try:
        return x.split('feat. ')[1].replace(')', '')
    except:
        return np.NaN

q4['feat'] = q4['title'].apply(feat_split)
result = q4['feat'].value_counts().index[0]
print(result)

Bruno Mars

>Anwser

In [11]:
result = df.title.str.split('feat.').str[1].dropna().str[:-1].str.strip().value_counts().index[0]
print(result)

Bruno Mars

### Question5

top year 년도를 기준으로 발매일(year released)과 top100에 진입한 일자 (top year)가 다른 곡의 숫자를 count 했을때 가장 많은 년도는?

In [12]:
result = df.loc[df['year released'] != df['top year'], 'top year'].value_counts().index[0]
print(result)

2016.0

>Anwser

In [13]:
year = int(df[df['year released'] != df['top year']]['top year'].value_counts().index[0])
print(year)

2016

### Question6

artist 컬럼의 값에 대소문자 상관없이 q 단어가 들어가는 아티스트는 몇명인가?

In [14]:
result = df[df['artist'].str.upper().str.contains('Q')].drop_duplicates(subset='artist').shape[0]
print(result)

6

>Anwser

In [15]:
result = df[df.artist.str.lower().str.contains('q')].artist.nunique()
print(result)

6

### Question7

년도 상관없이 전체데이터에서 1~50위와 51~100위간의 dur 컬럼의 평균값의 차이는?

In [16]:
result = df.loc[:49].dur.mean() - df.loc[50:99].dur.mean()
print(result)

-9.620000000000005

>Anwser

In [17]:
result = df[df['rank'].isin(range(1,51))].dur.mean() - df[df['rank'].isin(range(51,101))].dur.mean()
print(result)

0.896000000000015

In [18]:
result = df[df['rank'].isin(range(1,51))].dur.mean() - df[df['rank'].isin(range(51,101))].dur.mean()
print(result)

0.896000000000015

### Question8

title을 띄어쓰기 단어로 구분 했을때 가장 많이 나온 단어는 무엇인가? (대소문자 구분 x)

In [19]:
result = df['title'].str.split().explode().str.replace('(', '',regex=True).str.replace(')', '',regex=True).str.replace('.', '',regex=True).str.upper().value_counts().index[0]
print(result)

FEAT

>Anwser

In [20]:
result = df.title.str.split('\(feat').str[0].str.split().explode().str.lower().value_counts().index[0]
print(result)

the

### Question9

년도별 nrgy값의 평균값을 구할때 최대 평균값과 최소 평균값의 차이를 구하여라

In [21]:
result = df.groupby('top year')['nrgy'].mean().max() - df.groupby('top year')['nrgy'].mean().min()
print(result)

13.860000000000007

>Anwser

In [22]:
m = df.groupby(['top year']).nrgy.mean().sort_values().values
result = m[-1] - m[0]
print(result)

13.860000000000007

### Question10

artist중 artist type 타입을 여러개 가지고 있는 artist는 누구인가

In [23]:
result = df[['artist', 'artist type']].value_counts().reset_index().artist.value_counts().index[0]
print(result)

Rudimental

>Anwser

In [24]:
result = df[['artist','artist type']].value_counts().reset_index().artist.value_counts().index[0]
print(result)

Rudimental

## 작업 2유형
> Attention
- 데이터 출처 : https://www.kaggle.com/datasets/kyr7plus/emg-4
- 데이터 설명 : 센서데이터로 동작 유형 분류 (종속변수 pose : 0 ,1 구분)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv

In [25]:
import pandas as pd

x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv")

In [26]:
display(x_train.head())
display(y_train.head())

,ID,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
0,0,1.0,-2.0,-1.0,4.0,-5.0,-4.0,1.0,0.0,-15.0,...,0.0,-1.0,-13.0,-3.0,1.0,-1.0,-32.0,-22.0,-2.0,-3.0
1,2,20.0,0.0,0.0,1.0,5.0,6.0,-52.0,18.0,15.0,...,-70.0,-55.0,-38.0,-14.0,-12.0,-8.0,-34.0,-63.0,-87.0,-77.0
2,4,1.0,-1.0,1.0,4.0,-5.0,-8.0,1.0,-3.0,-14.0,...,1.0,12.0,-25.0,0.0,0.0,3.0,2.0,-27.0,1.0,0.0
3,5,13.0,2.0,1.0,-3.0,1.0,3.0,28.0,3.0,12.0,...,0.0,-21.0,-17.0,-2.0,0.0,-4.0,-17.0,-21.0,-21.0,25.0
4,6,-2.0,-7.0,-4.0,-8.0,16.0,44.0,1.0,3.0,-16.0,...,-1.0,2.0,-1.0,1.0,4.0,4.0,-17.0,-38.0,-3.0,3.0

   ID  pose
0   0     1
1   2     0
2   4     1
3   5     0
4   6     1

>간단한 모델링 작업  
- 모델링 및 submission파일 생성까지

In [27]:
train = x_train.drop('ID', axis=1)
y = y_train['pose']
ID = test.pop('ID')

print(train.shape, test.shape)

(4650, 64) (1163, 64)

In [28]:
train.info(), test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4650 entries, 0 to 4649
Data columns (total 64 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   motion_0   4650 non-null   float64
 1   motion_1   4650 non-null   float64
 2   motion_2   4650 non-null   float64
 3   motion_3   4650 non-null   float64
 4   motion_4   4650 non-null   float64
 5   motion_5   4650 non-null   float64
 6   motion_6   4650 non-null   float64
 7   motion_7   4650 non-null   float64
 8   motion_8   4650 non-null   float64
 9   motion_9   4650 non-null   float64
 10  motion_10  4650 non-null   float64
 11  motion_11  4650 non-null   float64
 12  motion_12  4650 non-null   float64
 13  motion_13  4650 non-null   float64
 14  motion_14  4650 non-null   float64
 15  motion_15  4650 non-null   float64
 16  motion_16  4650 non-null   float64
 17  motion_17  4650 non-null   float64
 18  motion_18  4650 non-null   float64
 19  motion_19  4650 non-null   float64
 20  motion_20  4650 non-null   float64
 21  motion_21  4650 non-null   float64
 22  motion_22  4650 non-null   float64
 23  motion_23  4650 non-null   float64
 24  motion_24  4650 non-null   float64
 25  motion_25  4650 non-null   float64
 26  motion_26  4650 non-null   float64
 27  motion_27  4650 non-null   float64
 28  motion_28  4650 non-null   float64
 29  motion_29  4650 non-null   float64
 30  motion_30  4650 non-null   float64
 31  motion_31  4650 non-null   float64
 32  motion_32  4650 non-null   float64
 33  motion_33  4650 non-null   float64
 34  motion_34  4650 non-null   float64
 35  motion_35  4650 non-null   float64
 36  motion_36  4650 non-null   float64
 37  motion_37  4650 non-null   float64
 38  motion_38  4650 non-null   float64
 39  motion_39  4650 non-null   float64
 40  motion_40  4650 non-null   float64
 41  motion_41  4650 non-null   float64
 42  motion_42  4650 non-null   float64
 43  motion_43  4650 non-null   float64
 44  motion_44  4650 non-null   float64
 45  motion_45  4650 non-null   float64
 46  motion_46  4650 non-null   float64
 47  motion_47  4650 non-null   float64
 48  motion_48  4650 non-null   float64
 49  motion_49  4650 non-null   float64
 50  motion_50  4650 non-null   float64
 51  motion_51  4650 non-null   float64
 52  motion_52  4650 non-null   float64
 53  motion_53  4650 non-null   float64
 54  motion_54  4650 non-null   float64
 55  motion_55  4650 non-null   float64
 56  motion_56  4650 non-null   float64
 57  motion_57  4650 non-null   float64
 58  motion_58  4650 non-null   float64
 59  motion_59  4650 non-null   float64
 60  motion_60  4650 non-null   float64
 61  motion_61  4650 non-null   float64
 62  motion_62  4650 non-null   float64
 63  motion_63  4650 non-null   float64
dtypes: float64(64)
memory usage: 2.3 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1163 entries, 0 to 1162
Data columns (total 64 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   motion_0   1163 non-null   float64
 1   motion_1   1163 non-null   float64
 2   motion_2   1163 non-null   float64
 3   motion_3   1163 non-null   float64
 4   motion_4   1163 non-null   float64
 5   motion_5   1163 non-null   float64
 6   motion_6   1163 non-null   float64
 7   motion_7   1163 non-null   float64
 8   motion_8   1163 non-null   float64
 9   motion_9   1163 non-null   float64
 10  motion_10  1163 non-null   float64
 11  motion_11  1163 non-null   float64
 12  motion_12  1163 non-null   float64
 13  motion_13  1163 non-null   float64
 14  motion_14  1163 non-null   float64
 15  motion_15  1163 non-null   float64
 16  motion_16  1163 non-null   float64
 17  motion_17  1163 non-null   float64
 18  motion_18  1163 non-null   float64
 19  motion_19  1163 non-null   float64
 20  motion_20  1163 non-null   float64
 21  motion_21  1163 non-null   float64
 22  motion_22  1163 non-null   float64
 23  motion_23  1163 non-null   float64
 24  motion_24  1163 non-null   float64
 25  motion_25  1163 non-null   float64
 26  motion_26  1163 non-null   float64
 27  motion_27  1163 non-null   float64
 28  motion_28  1163 non-null   float64
 29  motion_29  1163 non-null   float64
 30  motion_30  1163 non-null   float64
 31  motion_31  1163 non-null   float64
 32  motion_32  1163 non-null   float64
 33  motion_33  1163 non-null   float64
 34  motion_34  1163 non-null   float64
 35  motion_35  1163 non-null   float64
 36  motion_36  1163 non-null   float64
 37  motion_37  1163 non-null   float64
 38  motion_38  1163 non-null   float64
 39  motion_39  1163 non-null   float64
 40  motion_40  1163 non-null   float64
 41  motion_41  1163 non-null   float64
 42  motion_42  1163 non-null   float64
 43  motion_43  1163 non-null   float64
 44  motion_44  1163 non-null   float64
 45  motion_45  1163 non-null   float64
 46  motion_46  1163 non-null   float64
 47  motion_47  1163 non-null   float64
 48  motion_48  1163 non-null   float64
 49  motion_49  1163 non-null   float64
 50  motion_50  1163 non-null   float64
 51  motion_51  1163 non-null   float64
 52  motion_52  1163 non-null   float64
 53  motion_53  1163 non-null   float64
 54  motion_54  1163 non-null   float64
 55  motion_55  1163 non-null   float64
 56  motion_56  1163 non-null   float64
 57  motion_57  1163 non-null   float64
 58  motion_58  1163 non-null   float64
 59  motion_59  1163 non-null   float64
 60  motion_60  1163 non-null   float64
 61  motion_61  1163 non-null   float64
 62  motion_62  1163 non-null   float64
 63  motion_63  1163 non-null   float64
dtypes: float64(64)
memory usage: 581.6 KB

(None, None)

In [29]:
train.isnull().sum().sum(), test.isnull().sum().sum()

(0, 0)

In [30]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier, XGBRFClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import accuracy_score, roc_auc_score

scaler = StandardScaler()
train = scaler.fit_transform(train)
test = scaler.transform(test)

X_train, X_test, y_train, y_test = train_test_split(train, y, test_size=0.2, stratify=y, random_state=2022)

rf = RandomForestClassifier(random_state=2022)
gb = GradientBoostingClassifier(random_state=2022)
xgb = XGBClassifier(random_state=2022)
xgbrf = XGBRFClassifier(random_state=2022)
lgbm = LGBMClassifier(random_state=2022)

models = [rf, gb, xgb, xgbrf, lgbm]

for model in models:
    model.fit(X_train, y_train)
    pred = model.predict(X_test)
    pred_proba = model.predict_proba(X_test)[:, 1]

    print(str(model).split('(')[0])
    print('accuracy :', accuracy_score(y_test, pred))
    print('auc :', roc_auc_score(y_test, pred_proba))
    print('='*30)

RandomForestClassifier
accuracy : 0.9924731182795699
auc : 0.9997271348231463
==============================
GradientBoostingClassifier
accuracy : 0.9946236559139785
auc : 0.9998936288293622
==============================
XGBClassifier
accuracy : 0.9967741935483871
auc : 0.9997317596566523
==============================
XGBRFClassifier
accuracy : 0.9870967741935484
auc : 0.9994866434808346
==============================
LGBMClassifier
accuracy : 0.9956989247311828
auc : 0.9998566301613142
==============================

In [31]:
xgb = XGBClassifier(random_state=2022)
xgb.fit(train, y)
pred = xgb.predict(test)

In [32]:
submission = pd.DataFrame({'ID': ID, 'pose':pred})
# submission.to_csv('12345678.csv', index=False)
submission

        ID  pose
0        1     1
1        3     1
2        8     1
3       10     1
4       17     0
...    ...   ...
1158  5786     0
1159  5796     0
1160  5802     1
1161  5811     1
1162  5812     0

[1163 rows x 2 columns]