# 파이썬 연습문제 100문제

- https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

# 9. 기온 강수량 데이터

> Attention
- 데이터 출처 : https://data.kma.go.kr/cmmn/static/staticPage.do?page=intro
- 데이터 설명 : 2020년도 이화동(서울) , 수영동(부산)의 시간단위의 기온과 강수량
- 데이터 url : https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv

In [1]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  이화동강수  이화동기온  수영동강수  수영동기온
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

### Question 1

여름철(6월,7월,8월) 이화동이 수영동보다 높은 기온을 가진 시간대는 몇개인가?

In [2]:
df['time'] = pd.to_datetime(df['time'])
q1 = df[df['time'].dt.month.isin([6,7,8])]

len(q1[q1['이화동기온'] > q1['수영동기온']])

1415

> **Answer**

In [3]:
df.time = pd.to_datetime(df.time)
summer = df.loc[df.time.dt.month.isin([6,7,8])].reset_index(drop=True)
answer = len(summer.loc[summer['이화동기온'] > summer['수영동기온']])
print(answer)

1415

### Question 2

이화동과 수영동의 최대강수량의 시간대를 각각 구하여라

In [4]:
q2_1 = df[df['이화동강수'] == df['이화동강수'].max()]['time'].values
q2_2 = df[df['수영동강수'] == df['수영동강수'].max()]['time'].values

print(q2_1, q2_2)

['2020-09-30T09:00:00.000000000'] ['2020-07-23T12:00:00.000000000']

> **Answer**

In [5]:
answer1 = df.loc[df['이화동강수']==df['이화동강수'].max()].time.values
answer2 = df.loc[df['수영동강수']==df['수영동강수'].max()].time.values
print(answer1,answer2)

['2020-09-30T09:00:00.000000000'] ['2020-07-23T12:00:00.000000000']

# 10. 서비스 이탈예측 데이터

> Attention
- 데이터 출처 : https://www.kaggle.com/shubh0799/churn-modelling 에서 변형
- 데이터 설명 : 고객의 신상정보 데이터를 통한 회사 서비스 이탈 예측 (종속변수 : Exited)
- Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv

In [6]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

### Question 3

남성 이탈(Exited)이 가장 많은 국가(Geography)는 어디이고 이탈 인원은 몇명인가?

In [7]:
df[(df['Gender'] == 'Male') & df['Exited'] == 1]['Geography'].value_counts().head(1)

Germany    287
Name: Geography, dtype: int64

> **Answer**

In [8]:
answer = df.loc[df.Gender=='Male'].groupby(['Geography']).sum().Exited.sort_values(ascending=False).head(1)
print(answer)

Geography
Germany    287
Name: Exited, dtype: int64

### Question 4

카드를 소유(HasCrCard ==1)하고 있으면서 활성멤버(IsActiveMember ==1) 인 고객들의 평균 나이를 소숫점이하 4자리까지 구하여라?

In [9]:
round(df[(df['HasCrCard'] == 1) & (df['IsActiveMember'] == 1)]['Age'].mean(), 4)

39.6102

> **Answer**

In [10]:
answer = df.loc[(df.HasCrCard==1) &(df.IsActiveMember==1)].Age.mean()
print(round(answer,4))

39.6102

### Question 5

Balance 값이 중간값 이상을 가지는 고객들의 CreditScore의 표준편차를 소숫점이하 3자리까지 구하여라

In [11]:
round(df[df['Balance'] >= df['Balance'].median()]['CreditScore'].std(), 3)

97.295

> **Answer**

In [12]:
answer =df.loc[df.Balance >= df.Balance.median()].CreditScore.std()
print(round(answer,3))

97.295

# 11. 성인 건강검진 데이터

> Attention
- 데이터 출처 :https://www.data.go.kr/data/15007122/fileData.do (참고, 데이터 수정)
- 데이터 설명 : 2018년도 성인의 건강검 진데이터 (흡연상태 1- 흡연, 0-비흡연 )
- 데이터 url  : https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv

In [13]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")
df.head()

,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기혈압,...,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진수검여부,치아우식증유무,치석
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,16.7,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,12.9,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N

### Question 6

수축기혈압과 이완기 혈압기 수치의 차이를 새로운 컬럼(‘혈압차’) 으로 생성하고,  
연령대 코드별 각 그룹 중 ‘혈압차’ 의 분산이 5번째로 큰 연령대 코드를 구하여라

In [14]:
df['혈압차'] = df['수축기혈압'] - df['이완기혈압']
df.groupby('연령대코드(5세단위)')['혈압차'].var().sort_values(ascending=False).index[4]

60

> **Answer**

In [15]:
df['혈압차'] =df['수축기혈압'] -df['이완기혈압']
answer = df.groupby('연령대코드(5세단위)')['혈압차'].var().sort_values()
print(answer.index[-5])

60

### Question 7

비만도를 나타내는 지표인 WHtR는 허리둘레 / 키로 표현한다.  
일반적으로 0.58이상이면 비만으로 분류한다.  
데이터중 WHtR 지표상 비만인 인원의 남/여 비율을 구하여라

In [16]:
df['WHtR'] = df['허리둘레'] / df['신장(5Cm단위)']
len(df[(df['WHtR'] >= 0.58) & (df['성별코드'] == 'M')]) / len(df[(df['WHtR'] >= 0.58) & (df['성별코드'] == 'F')])

1.1693877551020408

> **Answer**

In [17]:
df['비만']=df['허리둘레']/df['신장(5Cm단위)']
data = df.loc[df['비만']>=0.58].성별코드.value_counts()
answer = data['M']/data['F']
print(answer)

1.1693877551020408

# 12. 자동차 보험가입 예측데이터

> Attention
- 데이터 출처 :https://www.kaggle.com/anmolkumar/health-insurance-cross-sell-prediction(참고, 데이터 수정)
- 데이터 설명 : 자동차 보험 가입 예측
- Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv

In [18]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv")
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0

### Question 8

Vehicle_Age 값이 2년 이상인 사람들만 필터링 하고 그중에서  
Annual_Premium 값이 전체 데이터의 중간값 이상인 사람들을 찾고, 그들의 Vintage값의 평균을 구하여라

In [19]:
q8 = df[df['Vehicle_Age'] == '> 2 Years']
q8[q8['Annual_Premium'] >= df['Annual_Premium'].median()]['Vintage'].mean()

154.43647182359118

> **Answer**

In [20]:
answer = df[(df['Vehicle_Age']=='> 2 Years') & (df['Annual_Premium'] >= df['Annual_Premium'].median())]['Vintage'].mean()
print(answer)

154.43647182359118

### Question 9

vehicle_age에 따른 각 성별(gender)그룹의 Annual_Premium값의 평균을 구하여 아래 테이블과 동일하게 구현하라

In [21]:
q9 = df.groupby(['Gender','Vehicle_Age'])['Annual_Premium'].mean().reset_index()
q9.pivot_table(index='Vehicle_Age', columns='Gender', values='Annual_Premium')

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

> **Answer**

In [22]:
meandf = df.groupby(['Gender','Vehicle_Age'],as_index = False)['Annual_Premium'].mean()
meandf.pivot(index='Vehicle_Age',columns='Gender',values='Annual_Premium')

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

# 13. 핸드폰 가격 예측데이터

> Attention
- 데이터 출처 :https://www.kaggle.com/iabhishekofficial/mobile-price-classification?select=train.csv(참고, 데이터 수정)
- 데이터 설명 : 핸드폰 가격예측 (price_range컬럼 0(저렴) ~3(매우비쌈) 범위 )
- Data url https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv

In [23]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

### Question 10

price_range 의 각 value를 그룹핑하여 각 그룹의 n_cores 의 빈도가 가장높은 value와 그 빈도수를 구하여라

In [24]:
df[['price_range', 'n_cores']].groupby(['price_range', 'n_cores']).size().sort_values(0, ascending=False).groupby(level=0).head(1)

price_range  n_cores
1            1          76
2            4          73
3            5          70
0            2          69
dtype: int64

> **Answer**

In [25]:
answer =df[['price_range','n_cores']].groupby(['price_range','n_cores']).size().sort_values(0).groupby(level=0).tail(1)
answer

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

### Question 11

price_range 값이 3인 그룹에서 상관관계가 2번째로 높은 두 컬럼과 그 상관계수를 구하여라

In [26]:
q2 = df[df['price_range'] == 3].corr().unstack().reset_index().dropna()
q2[q2[0] != 1].drop_duplicates(0).sort_values(0, ascending=False).iloc[1]

level_0      four_g
level_1     three_g
0          0.604218
Name: 122, dtype: object

> **Answer**
- 중복제거 안한 데이터라 정답오류라고 생각함

In [27]:
cordf = df.loc[df['price_range']==3].corr().unstack().sort_values(ascending=False)
answer  = cordf.loc[cordf!=1].reset_index().iloc[1]
print(answer)

level_0          pc
level_1          fc
0          0.635166
Name: 1, dtype: object