# 파이썬 연습문제 100문제

- https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

# 8. 대한민국 체력장 데이터

> Attention
- 데이터 출처 : 국민체육진흥공단 (문화 빅데이터플랫폼) (참고, 데이터 수정)
- 데이터 설명 : 대한민국 국민 체력장 평가
- data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv

In [1]:
import pandas as pd

df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

### Question 1

전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라

In [2]:
(df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']).mean()

52.19539414750672

> **Answer**

In [3]:
result  = (df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']).mean()
print(result)

52.19539414750672

### Question 2

50~59세의 신장평균을 구하여라

In [4]:
df[(df['측정나이'] >= 50) & (df['측정나이'] <= 59)]['신장 : cm'].mean()

164.07490107405314

> **Answer**

In [5]:
result = df[(df.측정나이 <60) & (df.측정나이>=50)].iloc[:,2].mean()
print(result)

164.07490107405314

### Question 3

연령대 (20~29 : 20대 …) 별 인원수를 구하여라

In [6]:
df['연령대'] = df['측정나이'] // 10 * 10
df.groupby('연령대').size()

연령대
20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
dtype: int64

> **Answer**

In [7]:
df['연령대']  =df.측정나이 //10 *10
result = df['연령대'].value_counts()
print(result)

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: 연령대, dtype: int64

### Question 4

연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라

In [8]:
df.groupby(['연령대', '등급']).size().reset_index()

     연령대 등급     0
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

> **Answer**

In [9]:
result = df.groupby(['연령대','등급'],as_index=False).size()
print(result)

     연령대 등급  size
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

### Question 5

남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [10]:
q5_a = df[(df['측정회원성별'] == 'M') & (df['등급'] == 'A')]['체지방율 : %'].mean()
q5_d = df[(df['측정회원성별'] == 'M') & (df['등급'] == 'D')]['체지방율 : %'].mean()

abs(q5_a-q5_d)

7.932086486137521

> **Answer**

In [11]:
result = abs(df[(df.측정회원성별 =='M') &(df.등급 =='A')].iloc[:,4].mean() -df[(df.측정회원성별 =='M') &(df.등급 =='D')].iloc[:,4].mean())
print(result)

7.932086486137521

### Question 6

여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [12]:
q6_a = df[(df['측정회원성별'] == 'F') & (df['등급'] == 'A')]['체중 : kg'].mean()
q6_d = df[(df['측정회원성별'] == 'F') & (df['등급'] == 'D')]['체중 : kg'].mean()

abs(q6_a-q6_d)

5.176211590296504

> **Answer**

In [13]:
result = abs(df[(df.측정회원성별 =='F') &(df.등급 =='A')].iloc[:,3].mean() -df[(df.측정회원성별 =='F') &(df.등급 =='D')].iloc[:,3].mean())
print(result)

5.176211590296504

### Question 7

bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. 데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균을 구하여라

In [14]:
df['bmi'] = df['체중 : kg'] / (df['신장 : cm']/100) **2
df[df['측정회원성별'] == 'M']['bmi'].mean()

24.46134409819308

> **Answer**

In [15]:
df['bmi'] = df['체중 : kg'] / (df['신장 : cm']/100) **2
result = df[df.측정회원성별 =='M'].bmi.mean()

print(result)

24.46134409819308

### Question 8

bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라

In [16]:
df[df['체지방율 : %'] > df['bmi']]['체중 : kg'].mean()

61.7408806392542

> **Answer**

In [17]:
result =df[df.bmi <df['체지방율 : %']]['체중 : kg'].mean()
print(result)

61.7408806392542

### Question 9

남성과 여성의 악력 평균의 차이를 구하여라

In [18]:
df[df['측정회원성별'] == 'M']['악력D : kg'].mean() - df[df['측정회원성별'] == 'F']['악력D : kg'].mean()

17.55954185047464

> **Answer**

In [19]:
target= df.groupby('측정회원성별')['악력D : kg'].mean()

result = target.M - target.F
print(result)

17.559541850474677

### Question 10

남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라

In [20]:
q10 = df.groupby('측정회원성별')['교차윗몸일으키기 : 회'].mean()

q10['M'] - q10['F']

14.243156833157634

> **Answer**

In [21]:
target= df.groupby('측정회원성별')['교차윗몸일으키기 : 회'].mean()

result = target.M - target.F
print(result)

14.243156833157634